.btn {
background-color: $primary-color;
padding: $btn-padding;
color: $btn-text;
border-radius: $btn-border-radius;
margin: $btn-margin;
font-weight: bold;
border: none;
cursor: pointer;
&:hover {
 background:#002266 ;
}
 &.btn-transparent {
    background: none;
    border: 2px solid #fff;
    &:hover {
    background: #fff;
    color: black;
    }
 }

}