* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
font-family: 'Noto Sans JP', sans-serif;
}
h1 {
 color: #fff;
}
.container {
 width: $container-standard;
 margin: $container-margin;
  &.container-sm {
    width: $container-small;
    text-align: center;
    padding: 50px 0;
  }
}

