body {
font-family: 'Noto Sans JP', sans-serif;
}
h1 {
 color: #fff;
}
.container {
 width: $container-standard;
 margin: $container-margin;
  &.container-sm {
    width: $container-small;
    text-align: center;
    padding: 50px 0;
  }
}

.box {
display: flex;
align-items: center;
 &.box-reverse {
     flex-direction: row-reverse;
 }  
}


.box-img {
width: $box-img-width;
padding: $box-padding;
 img {
     width: 100%;
 }
}
.box-test {
width: $box-test-width;
padding: $box-padding;
}