//Colors
$primary-color: #1473e6;
$btn-text: #fff;

//Containers Width
$container-standard: 1024px;
$container-small: 800px;
$container-margin: 0 auto;

// Spacing
$btn-padding: 15px;
$btn-margin: 15px;
$nav-padding: 30px 20px;
$title-padding: 20px 0;


//Border Radius Elements 
$btn-border-radius: 20px;

//Box dimension
$box-img-width: 60%;
$box-test-width: 40%;
$box-padding: 50px;

//mixin 
@mixin displayNav {
display: flex;
justify-content: space-between;
align-items: center;  
}

@mixin listFlex {
display: flex;
align-items: center;
list-style: none;
 li a {
    margin: 11px;
    text-decoration: none;
 }
}