//Colors
$btn-color: #1473e6;
$btn-text: #fff;

//Containers Width
$container-standard: 1024px;
$container-small: 800px;
$container-margin: 0 auto;

// Spacing
$btn-padding: 15px;
$btn-margin: 15px;


//Border Radius Elements 
$btn-border-radius: 20px;

//Box dimension
$box-img-width: 60%;
$box-test-width: 40%;
$box-padding: 50px;